/* input#file-upload-button {
    background-color: red;
}
.upload {
    background-color: red;
    display: none;
}
.uploadfile-container {
    background-color: #DCDCDC;
}
.upload-label {
    background-color: #DCDCDC;
    color: grey;
    width: 100px;
    height: 37px;
    padding: 3px;
    padding-top: 10px;
    display: inline-block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.upload-label:hover{
    background-color: rgb(248, 152, 143);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.icon-span {
    background-color: #DCDCDC;
        padding-top: 6px;
        padding-bottom: 10px;
        padding-right: 5px;
        padding-left: 3px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
}

.upload-icon {
    padding-bottom: 5px;
} */

.totalprice-div {
    margin-left: 55%;
    font-size: large;
    font-weight: 600;
    margin-top: -8px;
    width: 250px;
}

.cart-main-container {
    background-color: rgb(248 152 143 / 50%);
    overflow: hidden;
}

.cart-container {
    margin-left: 3em;
}
.form-main-container {
    width: 100%;
    /* flex-direction: row;
    display: flex */
}
.form-inside-container {
    display: flex;
    justify-content: space-between;

}
.cart-details {
   
    /* flex-direction: row;
    display: flex; */
    padding: 2em;
    padding-top:2em;
    margin-bottom: 4em;
    background-color: white;
    width: 37em;
    /* overflow-x: hidden;
    overflow-y: auto; */
    height: fit-content;
}

.customer-container {
    margin-left: 20px;
    background-color: white;
    width: 30em;
    padding: 3em;
    padding-top: 2em;
    margin-bottom: 20px;
    max-height: 600px;
}

.prod-table {
    overflow-y: scroll !important;
}

/* .form-main-container {
    flex-direction: row;
    display: flex
} */

/* ---------buttons---------- */

.proceed-to-order {
    background-color: rgb(249, 127, 116);
}

.proceed-to-order:hover {
    background-color: rgb(254, 100, 86);
}

.proceed-to-order:active {
    background-color: rgb(254, 65, 48);
}

/* -------icons-------- */
.cart-plus-icon {
    color: #52AE77FF;
}
.cart-plus-icon:hover {
    color: green;
    border-color: green;
}
.cart-plus-icon:active {
    color: #52AE77FF;
}
/* FF786CFF */

.cart-minus-icon {
    color: #FF786CFF;
}
.cart-minus-icon:hover {
    color: red;
}
.cart-minus-icon:active {
    color: #FF786CFF;
}

.address-edit-icon:hover {
    color:rgb(247, 34, 15);
    cursor: pointer;
}

.address-edit-icon:active {
    box-shadow: 0 0 0 3px #f86f6f;
}